@use "sass:list";

@import 'Variables';

.dp-board {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
  border-radius: 10px;
}

#dp-game-board-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;

  #dp-game-board-main {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    #dp-game-board-round-tracker {
      width: 1000px;
      height: 247px;

      background-image: url("img/dogpark-board-round-tracker.jpg");
      background-size: cover;

      display: flex;
      flex-direction: column;

      #dp-round-tracker-track {
        margin-top: 42px;
        margin-bottom: 15px;
        padding-left: 40px;

        #dp-round-tracker {
          transition: margin-left 700ms;
          @for $round from 1 through 4 {
            @for $phase from 1 through 4 {
              $roundOffset: ($round - 1) * 240px;
              $phaseOffset: ($phase - 1) * 63px;
              &[data-round="#{$round}"] {
                &[data-phase="#{$phase}"] {
                  margin-left: $roundOffset + $phaseOffset;
                }
              }
            }
          }
        }
      }

      #dp-round-tracker-forecast-stock {
        margin-left: 35px;
      }
    }

    #dp-game-board-park-wrapper {
      width: 1000px;
      height: 570px;
      background-image: url("img/dogpark-board-park.jpg");
      background-size: cover;

      #dp-game-board-park-location-card-deck {
        position: absolute;
        top: 20px;
        left: 20px;
      }


      #dp-game-board-park {
        display: flex;
        align-items: end;

        .dp-walk-trail {
          display: flex;
          gap: 16px;
          height: 570px;

          &.start {
            width: 75px;
            height: 355px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
          }

          &.end {
            position: absolute;
            right: 10px;
            top: 63px;
            height: 295px;
            width: 145px;
            flex-direction: column;
            gap: 4px;
            .dp-walk-spot {
              height: 70px;
              width: 145px;
              .dp-walker-spot {
                height: 30px;
                padding: 0;
              }
            }
          }

          .dp-park-column {
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }

          .dp-walk-spot {
            border-radius: 15px;
            width: 70px;
            height: 225px;
            display: flex;
            justify-content: end;
            flex-direction: column;
            align-items: center;
            position: relative;

            .dp-resource-spot {
              position: absolute;
              bottom: 65px;
            }

            .spot-label {
              position: absolute;
              bottom: 0;
            }

            .dp-walker-spot {
              padding-left: 5px;
              padding-bottom: 65px;
              height: 175px;
              .dp-dog-walker-token {
                position: relative;
                height: 35px;
                .card-sides {
                  .card-side {
                    top: unset;
                  }
                }
              }
            }

            &[data-spot-id="5"],&[data-spot-id="7"],&[data-spot-id="9"],&[data-spot-id="11"], &[data-spot-id="13"] {
              height: 150px;
              margin-bottom: 125px;
              .dp-walker-spot {
                height: 100px;
                .dp-dog-walker-token {
                  height: 20px;
                }
              }
            }

            &[data-spot-id="15"] {
              height: 190px;
              .dp-walker-spot {
                height: 100px;
                .dp-dog-walker-token {
                  height: 20px;
                }
              }
            }

            &.selectable {
              outline: 4px rgba(80, 200, 255, 0.75) solid;
              cursor: pointer;
            }

            &.selected {
              outline: 4px rgba(124, 252, 0, 0.75) solid;
              cursor: pointer;
            }
          }

          #dp-walk-leaving-park-spaces {

          }
        }
      }




    }

    #dp-game-board-field-wrapper {

      #dp-game-board-field {
        width: 1000px;
        height: 465px;
        background-image: url("img/dogpark-board-field.jpg");
        background-size: cover;

        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        overflow: hidden;

        .dp-field-slot {
          background-image: url("img/dogpark-field-slot.png");
          background-size: cover;
          height: 460px;
          width: 252px;

          .dp-field-slot-card {
            height: $blackjack-size-height;
          }

          .card[data-type="dog"] {
            margin-left: 60px;
          }

          &:nth-child(1) {
            border-radius: 10px;
            margin-left: -55px;
          }

          &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            margin-left: -55px;
          }

          .dp-field-slot-walkers {
            position: relative;

            .dp-dog-walker-token {
              position: absolute;
              @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                  top: ($i - 1) * 28px;
                  left: 130px - (($i - 1) * 12px);
                }
              }
            }
          }
        }
      }
      #dp-game-board-field-scout {
        .card {
          margin-bottom: 10px;
        }
      }
      #dp-game-board-offer-dials {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0;
        .dp-player-walker-area {
          width: 52px;
        }
      }
    }
  }

  #dp-game-board-side {
    @media only screen and (max-width: calc(1330px + 284px))  {
      position: absolute;
      top: 25px;
      left: -10px;
      transition: left 0.5s ease-in-out;
      z-index: 1;
      &.hide-side-bar {
        left: -327px;
      }

      #dp-game-board-side-toggle-button {
        display: block !important;
        background: black;
        color: white;
        font-size: large;
        text-align: center;
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        padding: 5px;
      }
    }

    display: flex;
    align-items: center;

    #dp-game-board-side-toggle-button {
      display: none;
    }
    #dp-game-board-breed-expert-awards {
      width: 322px;
      height: 1202px;
      background-image: url("img/dogpark-board-objectives.jpg");
      background-size: cover;

      #dp-game-board-breed-expert-awards-stock {
        padding-top: 120px;
        padding-right: 50px;

        .slot {
          height: $mini-size-landscape-height;
        }
      }
    }
  }
}

.label-wrapper {
  display: flex;
  justify-content: center;

  h2 {
    background-color: white;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 5px 25px;
    margin: 0;
  }

  &.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;

    h2 {
      padding: 10px 5px;
      margin: 0 10px 0 0;
    }
  }

}

#dp-player-areas, #dp-own-player-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  .dp-player-area {
    gap: 10px;
    display: flex;
    flex-direction: column;
    
    .dp-player-area-section-wrapper {
      display: flex;
      flex-direction: row;
    }

    .dp-lead-board {
      background-image: url("img/dogpark-leadboards.jpg");
      background-size: auto 500%;
      width: 850px;
      height: 325px;
      display: flex;
      flex-direction: row;

      .dp-lead-board-walker {
        flex: 1;
        max-width: 224px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dp-lead-board-lead {
        margin:27px 23px;
        flex: 1;
        justify-content: right;
      }

      @each $player-color in $player-colors {
        &[data-color="#{$player-color}"] {
          background-position: 0 (list.index($player-colors, $player-color) - 1) * 25%;
        }
      }
    }

    .dp-player-area-kennel {
      width: 850px;
      min-height: $blackjack-size-height;
    }
  }
}
