@use 'sass:math';

@import 'Variables';

@mixin selectable {
  &.bga-cards_selectable-card {
    .card-side {
      outline: 8px rgba(80, 200, 255, 0.75) solid;
      cursor: pointer;
    }
  }
}

@mixin selected {
  &.bga-cards_selected-card {
    .card-side {
      outline: 8px rgba(124, 252, 0, 0.75) solid;
      cursor: pointer;
    }
  }
}

// 63
.dog-card-art {
    @for $row from 0 through 6 {
      @for $column from 0 through 8 {
        $id: ($row * 9) + ($column + 1);
        &.dog-card-art-#{$id} {
          background-image: url("img/dogpark-dog-cards-base-0.jpg");
          background-size: 900% auto;
          background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 6)};
        }
      }
    }

  @for $row from 0 through 6 {
    @for $column from 0 through 8 {
      $id: ($row * 9) + ($column + 1) + 63;
      &.dog-card-art-#{$id} {
        background-image: url("img/dogpark-dog-cards-base-1.jpg");
        background-size: 900% auto;
        background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 6)};
      }
    }
  }

  @for $row from 0 through 4 {
    @for $column from 0 through 8 {
      $id: ($row * 9) + ($column + 1) + 126;
      @if $id <= 163 {
        &.dog-card-art-#{$id} {
          background-image: url("img/dogpark-dog-cards-base-2.jpg");
          background-size: 900% auto;
          background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 4)};
        }
      }
    }
  }
}

.location-bonus-art {
  background-image: url("img/dogpark-location-cards.jpg");
  background-size: 400% auto;

  &.location-bonus-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 4 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 1 {
        &.location-bonus-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 4)};
        }
      }
    }
  }
}

.objective-art {
  background-image: url("img/dogpark-multiplayer-objectives.jpg");
  background-size: 400% auto;

  &.objective-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.objective-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }
}

.breed-expert-art {
  background-image: url("img/dogpark-breed-expert.jpg");
  background-size: 400% auto;

  &.breed-expert-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 1 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.breed-expert-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 1)};
        }
      }
    }
  }
}

.forecast-art {
  background-image: url("img/dogpark-forecast-cards.jpg");
  background-size: 400% auto;

  &.forecast-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.forecast-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }
}

.blackjack-size-portrait {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-width;
  height: $blackjack-size-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-width;
      height: $blackjack-size-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.blackjack-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-landscape-width;
  height: $blackjack-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-landscape-width;
      height: $blackjack-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.mini-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $mini-size-landscape-width;
  height: $mini-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $mini-size-landscape-width;
      height: $mini-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.dp-dog-card-token-stock {
    width: 160px;
    height: 190px;
    float: right;
    align-items: center;


}
