@use 'sass:math';

@import 'Variables';

.dog-card-art {
  &[data-set="BASE_GAME"] {
    @for $row from 0 through 3 {
      @for $column from 0 through 4 {
        $id: ($row * 5) + ($column + 1);
        @if $id <= 18 {
          &.dog-card-art-#{$id} {
            background-image: url("img/dogpark-dog-cards-base-toy.jpg");
            background-size: 500% auto;
            background-position: #{$column * math.div(100%, 4)} #{$row * math.div(100%, 3)};
          }
        }
      }
    }
  }
}

.location-bonus-art {
  background-image: url("img/dogpark-location-cards.jpg");
  background-size: 400% auto;

  &.location-bonus-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 4 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1);
      @if $id > 1 {
        &.location-bonus-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 4)};
        }
      }
    }
  }
}

.objective-art {
  background-image: url("img/dogpark-multiplayer-objectives.jpg");
  background-size: 400% auto;

  &.objective-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.objective-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }
}

.breed-expert-art {
  background-image: url("img/dogpark-breed-expert.jpg");
  background-size: 400% auto;

  &.breed-expert-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 1 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.breed-expert-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 1)};
        }
      }
    }
  }
}

.forecast-art {
  background-image: url("img/dogpark-forecast-cards.jpg");
  background-size: 400% auto;

  &.forecast-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.forecast-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }
}

.blackjack-size-portrait {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-width;
  height: $blackjack-size-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-width;
      height: $blackjack-size-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.blackjack-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-landscape-width;
  height: $blackjack-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-landscape-width;
      height: $blackjack-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.mini-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $mini-size-landscape-width;
  height: $mini-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $mini-size-landscape-width;
      height: $mini-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.dp-dog-card-token-stock {
    width: 160px;
    height: 190px;
    float: right;
    align-items: center;


}
