@use 'sass:math';

@import 'Variables';

@mixin selectable {
  &.bga-cards_selectable-card {
    .card-side {
      outline: 8px rgba(80, 200, 255, 0.75) solid;
      cursor: pointer;
    }
  }
}

@mixin selected {
  &.bga-cards_selected-card {
    .card-side {
      outline: 8px rgba(124, 252, 0, 0.75) solid;
      cursor: pointer;
    }
  }
}

// 63
.dog-card-art {
    @for $row from 0 through 6 {
      @for $column from 0 through 8 {
        $id: ($row * 9) + ($column + 1);
        &.dog-card-art-#{$id} {
          background-image: url("img/dogpark-dog-cards-base-0.jpg");
          background-size: 900% auto;
          background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 6)};
        }
      }
    }

  @for $row from 0 through 6 {
    @for $column from 0 through 8 {
      $id: ($row * 9) + ($column + 1) + 63;
      &.dog-card-art-#{$id} {
        background-image: url("img/dogpark-dog-cards-base-1.jpg");
        background-size: 900% auto;
        background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 6)};
      }
    }
  }

  @for $row from 0 through 4 {
    @for $column from 0 through 8 {
      $id: ($row * 9) + ($column + 1) + 126;
      @if $id <= 163 {
        &.dog-card-art-#{$id} {
          background-image: url("img/dogpark-dog-cards-base-2.jpg");
          background-size: 900% auto;
          background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 4)};
        }
      }
    }
  }

  // EURO DOGS
  @for $row from 0 through 3 {
    @for $column from 0 through 8 {
      $id: ($row * 9) + ($column + 1) + 200;
      @if $id <= 229 {
        &.dog-card-art-#{$id} {
          background-image: url("img/dogpark-dog-cards-euro.jpg");
          background-size: 900% auto;
          background-position: #{$column * math.div(100%, 8)} #{$row * math.div(100%, 3)};
        }
      }
    }
  }
}

.location-bonus-art {
  background-image: url("img/dogpark-location-cards.jpg");
  background-size: 400% auto;

  &.location-bonus-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 4 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 1 {
        &.location-bonus-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 4)};
        }
      }
    }
  }
}

.objective-art {

  &.objective-art-background {
    background-image: url("img/dogpark-multiplayer-objectives.jpg");
    background-size: 400% auto;
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 and $id <= 10 {
        &.objective-art-#{$id} {
          background-image: url("img/dogpark-multiplayer-objectives.jpg");
          background-size: 400% auto;
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }

  &.objective-art-20 { background-image: url("img/dogpark-solo-objectives.jpg"); background-size: 400% auto; background-position: 0 0; }
  &.objective-art-21 { background-image: url("img/dogpark-solo-objectives.jpg"); background-size: 400% auto; background-position: 33.3333333% 0; }
  &.objective-art-22 { background-image: url("img/dogpark-solo-objectives.jpg"); background-size: 400% auto; background-position: 66.6666666% 0; }
  &.objective-art-23 { background-image: url("img/dogpark-solo-objectives.jpg"); background-size: 400% auto; background-position: 100% 0; }
}

.breed-expert-art {
  background-image: url("img/dogpark-breed-expert.jpg");
  background-size: 400% auto;

  &.breed-expert-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 1 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.breed-expert-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 1)};
        }
      }
    }
  }
}

.forecast-art {
  background-image: url("img/dogpark-forecast-cards.jpg");
  background-size: 400% auto;

  &.forecast-art-background {
    background-position: 0 0;
  }

  @for $row from 0 through 2 {
    @for $column from 0 through 3 {
      $id: ($row * 4) + ($column + 1) - 1;
      @if $id > 0 {
        &.forecast-art-#{$id} {
          background-position: #{$column * math.div(100%, 3)} #{$row * math.div(100%, 2)};
        }
      }
    }
  }
}

.dp-player-aid-resource-wrapper {
  display: flex;
  flex-wrap: wrap;
  .dp-player-aid-resource {
    width: 50%;
  }
}


.blackjack-size-portrait {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-width;
  height: $blackjack-size-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-width;
      height: $blackjack-size-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.blackjack-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $blackjack-size-landscape-width;
  height: $blackjack-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $blackjack-size-landscape-width;
      height: $blackjack-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.mini-size-landscape {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: $mini-size-landscape-width;
  height: $mini-size-landscape-height;

  .card-sides {
    .card-side {
      border-radius: 5px;
      width: $mini-size-landscape-width;
      height: $mini-size-landscape-height;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.dp-dog-card-token-stock {
    width: 160px;
    height: 190px;
    float: right;
    align-items: center;
  .dp-card-token {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
  }
}

.dp-dice {
  width: 58px;
  height: 58px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 2px;
  display: inline-block;
  vertical-align: middle;

  &.small {
    width: 25px;
    height: 25px;
    .side {
      width: 25px;
      height: 25px;
    }
  }

  .card-side {
    box-shadow: none !important;
    outline: none !important;
  }

  .side {
    position: absolute;
    border-radius:5px;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 2em;
    box-shadow: 0 0 5px #000000a0;
    background-image: url('img/dogpark-autowalker-die.png');
    background-size: 600% auto;
    &[data-side="1"] { transform: translateZ(1.364em);}
    &[data-side="2"] { transform: rotateX(-180deg) translateZ(1.364em);}
    &[data-side="3"] { transform: rotateY(-90.1deg) translateZ(1.364em);}
    &[data-side="4"] { transform: rotateX(90.1deg) translateZ(1.364em);}
    &[data-side="5"] { transform: rotateX(-90.1deg) translateZ(1.364em);}
    &[data-side="6"] {  transform: rotateY(90.1deg) translateZ(1.364em);}
    &[data-side="1"] { background-position: 0 0;}
    &[data-side="2"] { background-position: 20% 0;}
    &[data-side="3"] { background-position: 40% 0;}
    &[data-side="4"] { background-position: 60% 0;}
    &[data-side="5"] { background-position: 80% 0;}
    &[data-side="6"] { background-position: 100% 0;}
  }

  &[data-value="1"] { transform: rotateX(720deg) rotateZ(-720deg); }
  &[data-value="2"] { transform: rotateX(-900deg) rotateZ(1080deg); }
  &[data-value="3"] { transform: rotateY(810deg) rotateZ(720deg); }
  &[data-value="4"] { transform: rotateX(-810deg) rotateZ(-1080deg); }
  &[data-value="5"] { transform: rotateX(450deg) rotateZ(-720deg); }
  &[data-value="6"] { transform: rotateY(-450deg) rotateZ(-1440deg); }
}



