@use "sass:list";

@import 'Variables';

#dp-offer-dial-controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  .bgabutton {
    text-align: center;
    width: 100px;
    font-size: 30px;
  }
}

.dp-dial {
  width: $offer-dial-size;
  height: $offer-dial-size;

  @for $i from 1 through 5 {
    &[data-value="#{$i}"] {
      .side-front-numbers {
        transform: rotate(360deg - ($i * 60deg));
      }
    }
  }

  &.side-front {
    background-image: url("img/dogpark-dial-numbers.png");
    background-size: cover;

    .side-front-numbers {
      position: absolute;
      width: $offer-dial-size;
      height: $offer-dial-size;
      background-image: url("img/dogpark-dial-numbers.png");
      background-size: cover;
      transition: transform 700ms;
    }

    .side-front-overlay {
      position: absolute;
      width: $offer-dial-size;
      height: $offer-dial-size;
      background-image: url("img/dogpark-dials-front.png");
      background-size: 500% auto;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }



  &.side-back {
    background-image: url("img/dogpark-dials-back.png");
    background-size: 500% auto;
  }

  @each $player-color in $player-colors {
    &[data-color="#{$player-color}"] {
     .side-front-overlay {
       background-position: (list.index($player-colors, $player-color) - 1) * 25% 0;
     }

      &.side-back {
        background-position: (list.index($player-colors, $player-color) - 1) * 25% 0;
      }
    }
  }
}