@use "sass:list";

.dp-token {
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}

.dp-card-token {
  display: inline-block;
  position: relative;
  width: 39.375px !important;
  height: 33.75px !important;

  .card-sides {
    .card-side {
      box-shadow: none;
      width: 39.375px !important;
      height: 33.75px !important;
      outline: none;
      & > * {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.dp-round-marker {
  background-image: url('img/dogpark-round-marker.png');
  background-size: cover;
  width: 45px;
  height: 45px;
}

.dp-first-player-marker {
  background-image: url('img/dogpark-first-player-marker.png');
  background-size: cover;
  width: 45px;
  height: 43px;
}

.dp-dog-walker {
  background-image: url('img/dogpark-walkers.png');
  background-size: 500% auto;

  @each $player-color in $player-colors {
    &[data-color="#{$player-color}"] {
      background-position: (list.index($player-colors, $player-color) - 1) * 25% 0;
    }
  }
}

.dp-dog-walker-token {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 65px;

  .card-sides {
    .card-side {
      width: 45px;
      height: 65px;
      box-shadow: none;

      &>* {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
.dp-token-token {
  background-image: url('img/dogpark-tokens.png');
  background-size: 1000% auto;
  width: 52.5px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;

  &.small {
    width: 31px;
    height: 26.5714px;
  }

  &[data-type="walked"] { background-position: 0 0;}
  &[data-type="reputation"] { background-position: 11.1111111111% 0;}
  &[data-type="toy"] { background-position: 22.2222222222% 0;}
  &[data-type="ball"] { background-position: 33.3333333333% 0;}
  &[data-type="treat"] { background-position: 44.4444444444% 0;}
  &[data-type="stick"] { background-position: 55.5555555556% 0;}
  &[data-type="scout"] { background-position: 66.6666666667% 0;}
  &[data-type="swap"] { background-position: 77.7777777778% 0;}
  &[data-type="block"] { background-position: 88.8888888889% 0;}
  &[data-type="placeholder"] { background-position: 100% 0;}

}

.fa.fa-star {
  vertical-align: bottom;
  background-image: url('img/dogpark-tokens.png');
  background-size: 1000% auto;
  width: 22.16px;
  height: 19px;
  background-position: 11.1111111111% 0;
  &:before {
    content: unset;
  }
}