$player-colors: '#c45f5f', '#8b91ba', '#d2ce74', '#90beac', '#000000';
//$player-colors: #c45f5f, #8b91ba, #d2ce74, #90beac, #000000;

$blackjack-size-height: 266px;
$blackjack-size-width: 195px;

$blackjack-size-landscape-height: 195px;
$blackjack-size-landscape-width: 266px;

$mini-size-landscape-width: 195px;
$mini-size-landscape-height: 142px;

$offer-dial-size: 145px;
