/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * DogPark implementation : © Jordi Jansen <jordi@itbyjj.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 */
@use 'sass:math';

@import '../../node_modules/bga-zoom/bga-zoom';
@import '../../node_modules/bga-cards/bga-cards';
@import '../../node_modules/bga-jump-to/bga-jump-to';
@import '../../node_modules/bga-help/bga-help';

//@import 'LoadingIndicator';
@import 'Variables';
@import 'Boards';
@import 'Tokens';
@import 'Cards';
@import 'Dials';

.bga-cards_selectable-card {
  .card-side {
    outline: 6px rgba(80, 200, 255, 0.75) solid;
    cursor: pointer;
  }
}

.bga-cards_selected-card {
  .card-side {
    outline: 6px rgba(124, 252, 0, 0.75) solid;
    cursor: pointer;
  }
}

#dp-game {
  display: flex;
  flex-direction: column;
}

html, .mode_3d #game_play_area_background {
  background-image: url('img/dogpark-bg.jpg');
  .whiteblock {
    border-radius: 10px;
  }
}

#custom-actions {
  .dp-dog-cost-pay-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .bgabutton {
      margin: 5px 0;
    }
  }
}

#dp-choose-objectives-stock {
  margin: 25px 0;
}

#player_boards {
  .player-board {
    background-image: url("img/dogpark-player-panel-bg.jpg");
    background-size: cover;

    .dp-player-resources {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .counter-void-stock-wrapper {
        display: flex;
        align-items: center;
        font-size: 20px;

        .counter-void-stock-icon {
          margin: 5px;
        }
      }
    }

    .dp-player-token-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      gap: 8px;
      align-items: center;
    }

    .dp-player-objective-card {
      .blackjack-size-landscape {
        width: $blackjack-size-landscape-width-small;
        height: $blackjack-size-landscape-height-small;

        .card-sides {
          .card-side {
            width: $blackjack-size-landscape-width-small;
            height: $blackjack-size-landscape-height-small;
          }
        }
      }
    }
  }
}

.dp-help-button-wrapper {
  position: absolute;
  z-index: 10;
  height: 35px;
  display: flex;
  justify-content: end;

  &.position-floating-bottom {
    bottom: -34px;
    right: 10px;
    .dp-help-button {
      border-radius: 0 0 5px 5px;
    }
  }

  &.position-floating-right {
    top: 10px;
    right: -34px;
    .dp-help-button {
      border-radius: 0 5px 5px 0;
    }
  }

  &.position-top-right {
    top: 5px;
    right: 5px;
    .dp-help-button {
      border-radius: 5px;
    }
  }

  .dp-help-button {
    height: 35px;
    width: 35px;
    opacity: 0.7;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.dp-help-dialog-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  .dp-help-dialog-content-left {
    .dog-card-art {
      border-radius: 5px;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
      height: $blackjack-size-height-large;
      width: $blackjack-size-width-large;
    }
    .objective-art {
      border-radius: 5px;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
      height: $blackjack-size-landscape-height-large;
      width: $blackjack-size-landscape-width-large;
    }
    .forecast-art {
      border-radius: 5px;
      box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
      height: $mini-size-landscape-height-large;
      width: $mini-size-landscape-width-large;
    }
  }
  .dp-help-dialog-content-right {
    flex: 1;
    min-width: $blackjack-size-width-large;

  }
}

#bga-jump-to_controls {
  left: -2px;
  top: 300px !important;
  margin-top: 0 !important;
}
#help-dialog-content {
  width: unset;
  max-width: 600px;
}

